.modal-select--wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.modal-select--input{
    display: none;
    margin: 15px;
    padding: 10px 15px;
    background-color: #424242;
    border-radius: 6px;
    color: #8D8D8D;
    width: 175px;
    outline:none;
}
#text{
    position: absolute;
    display: block;
    top: 0;
    padding-left: 10px;
}

.select{
    display: inline-block;
    width: 160px;
    height: 34px;
    line-height: 30px;
    position: relative;
}

.select:before{
    content: ">";
    display: inline-block;

    position: absolute;
    right: -5px;
    top: 2px;
    z-index: 2;
    width: 30px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    transform: rotate(90deg);
    cursor: pointer;
}

.select input[name="list"]:not(:checked) ~ #text{

}

.select input[name="list"]:checked ~ #text {
    background: transparent;
    color: transparent;
    z-index: 2;
}

#select:disabled ~ .items #text{
    background: #424242;
}

.items{
    display: block;
    width: 175px;
    min-height: 30px;

    position: absolute;
    margin: 0 15px;
    border: 1px solid #5F5F5F;
    border-radius: 6px;

    cursor: pointer;
    overflow: hidden;

}

#select:not(:checked) ~ .items
{
    height: 30px;
}

.items label
{
    display: none;
    padding-left: 15px;
    background: #424242;
}

.items label:hover{
    background: #505050;
    cursor: pointer;
}

#select:checked ~ .items{
    /*30 - это высота input */
    padding-top: 30px;
}

#select:checked ~ .items label{
    display: block;
}

.items input:checked + label{
    display: block!important;
    border: none;
    background: #424242;
}

#select:checked ~ .bg
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: rgba(0,0,0,0);
}
